

.container{
	width: 800px;
	height: 520px;
	padding: 20px;
	border-style: dotted; 1px #999;
	margin: auto;
	background-color: #F1F1F1;
}



#slider > div {
	position: absolute;
	width: 100px;
	height: 100px;
}